# Map all itgpg commits to Aayush Bankar's personal account
Aayush Bankar <aayushbankar42@gmail.com> itgpg <noreply@github.com>
Aayush Bankar <aayushbankar42@gmail.com> <itgpg@users.noreply.github.com>
