<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-title">Get in Touch</h2>
        <div class="contact-info">
          <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <div>
              <center>
                <div style="width: 100%">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1832.8651274675703!2d72.637406!3d23.252901!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2bf53fb41c95%3A0xe8a2c131b19c109e!2sGovernment%20Polytechnic%20Gandhinagar!5e0!3m2!1sen!2sus!4v1743740014747!5m2!1sen!2sus"
                    width="100%"
                    height="auto"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </center>
              <h4>Address</h4>
              <p>Sector 26, Gandhinagar, Gujarat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
