<footer class="footer bg-dark text-white mt-5">
    <div class="container py-4 text-center">
        
        <!-- Q3JlYXRlZCBieSBMZWdpb24gd2hvIHdvbid0IGJlIGZvdW5kIHVubGVzcyBoZSBpcyBsaWtlIG1lLiBJZiB5b3UgZGVjb2RlIHRoaXMsIGZpbmQgbWUgYXQ6IGVudGh1c2lhZGV2QGdtYWlsLmNvbQ== -->
        <p>&copy; 2024 Government Polytechnic Gandhinagar. All rights reserved.</p>
        <p>Institute Link: <a href="https://www.gpgh.cteguj.in/">https://www.gpgh.cteguj.in/</a></p>
        <p>Developed by: <a href="https://divya-darji.netlify.app/">Divya Darji</a></p>
        <p>Contact: <a href="https://github.com/Aayushbankar">Aayush Bankar</a>, </p>
    </div>
</footer>
