<!-- about-section -->
<section class="about-section">
  <div class="container">
    <h2 class="section-title text-center h1">
      Government Polytechnic Gandhinagar<br />Information Technology Department
    </h2>

    <div class="about-content">
      <h3>Institute Vision</h3>
      <p>
      
        The Develop technically proficient and ethically sound diploma engineers contributing to the industry and society needs.
      </p>

      <h3>Department Vision</h3>
      <ul>
        <li>To impart quality technical education.</li>
        <li>To shape students towards sensitizing in ethical values and contributing in nature. </li>
        <li>To familiarize students with the world of work. </li>
      </ul>

      <h3>Institute Mission</h3>
      <p><strong>Government Polytechnic, Gandhinagar Strives:</strong></p>
      <ul>
        <li>To impart quality technical education.</li>
        <li>
          To shape students towards sensitizing in ethical values and
          contributing to nature.
        </li>
        <li>To familiarize students with the world of work.</li>
      </ul>

      <h3>Department Mission</h3>
      <ul>
        <li>M1: To impart IT engineering education through effective teaching learning process.</li>
        <li>M2: Making our students contributory and believing in ethical values.</li>
        <li>M3: Making students aware and practice current technology in industry</li>
      </ul>
      <h3>Program Educational Objectives (PEOs):</h3>

      <ul>
        <li>PEO-1: To be a successful IT professional with ethical values and communication skills towork as an individual and team member.</li>
        <li>PEO-2: To become an entrepreneur in the field of software development</li>
        <li>PEO-3: To adopt emerging technologies to solve standard societal and environmental issuesby life-long learning.</li>
      </ul>
      <h3>Program Outcomes (POs):</h3>
      <ul>
        <li>PO1-Basic and Discipline specific knowledge: Apply knowledge of basic mathematics. science and engineering fundamentals and engineering specialization to solve the engineering problems.</li>
        <li>PO2-Problem analysis: Identify and analyze well-defined engineering problems using codified standard methods.</li>
        <li>PO3-Design/development of solutions: Design solutions for well-defined technical problems and assist with the design of systems components or processes to meet specified needs.
        <li>PO4-Engineering Tools, Experimentation and Testing: Apply modern engineering tools and appropriate technique to conduct standard tests and measurements.</li>
        <li>PO5-Engineering practices for society, sustainability and environment: Apply appropriate technology in context of society. sustainability, environment and ethical practices.</li>
        <li>PO6-Project Management: Use engineering management principles individually, as a team member or a leader to manage projects and effectively communicate about well-defined engineering activities.</li>
        <li>PO7-Life-long learning: Ability to analyse individual needs and engage in updating in the context of technological changes.

      </ul>
    </div>
  </div>
</section>
